<script id="job-template" type="text/template">
<p class="job-details-title"></p>
<div class="job-details-hr"></div>
        <div class="description"></div>
<div class="job-details-info">
    <p class="job-details-info-text">
        What will you charge?<br>
        You can customizethis at any time<br><br>
        Price oer Hour
    </p>

    <p class="job-details-info-price">
        <span class="job-details-info-price-small">Total</span><br>
        <span class="job-details-info-price-big" id="price">50$</span>
    </p>
</div>

<div class="slider"></div>

<p class="job-details-info-texts">
    We Suggest anywhere between <b><span class="minCost">50$</span>  - <span class="maxCost">70$</span> </b>
</p>

<p class="job-details-info-text-small">
    Would you like to add an additional charge<br>
    for gigs over 15 miles away?
</p>

<div class="job-details-check">
    <input id="one" type="radio" class="distance" name="distance" hidden/>
    <label for="one">YES</label>

    <input id="two" type="radio" name="distance" hidden/>
    <label for="two">NO</label>
</div>
<p class="job-details-info-text"> Describe your services </p>


<textarea class="textarea">

</textarea>
<div class="personal-trainer" style="display: none">
    <p>You must be insured to perform this service* </p>
    <p>Upload proof of current personal trainer;s insurance(Min 500k) </p>
    <div class="upload-file">
        <input type="file" style="color:red"/>
    </div>
    <p class="upload-file-text">(Must be PDF or Jpeg)</p>
    <div class="job-details-hr"></div>
</div>
<!--<div class="work-place">
    <div class="work-place-item">
        <input id="three" type="radio" name="two" hidden/>
        <label for="three">
            <p class="work-place-item-title">Home</p>

            <p class="work-place-item-text">553 Mocking Bird Lane</p>
        </label>

    </div>

    <div class="work-place-item">
        <input id="four" type="radio" name="two" hidden/>
        <label for="four">
            <p class="work-place-item-title">Work</p>

            <p class="work-place-item-text">5653 NotSoBad Place</p>
        </label>

    </div>
</div>-->
    </script>