<script id="login-template" type="text/template">
    <div id="dialog" class="loginPopup">
        <div class="close-icon"></div>
           <div class="logo"></div>

        <div class="faceBook">
            <button class="fbBtn">
                <div class="fL"></div>

                Login with Facebook
            </button>
        </div>
        <div class="orLogin">
            - Or -
        </div>
        <div class="email">
            <input type="text" id="emails" class="input-text input-email log" placeholder="Enter your email" name="email">
        </div>
        <div class="pass">
            <input type="passwords" id="passwords" class="input-text input-password log" placeholder="Enter your password" name="password">
            <div><a href="#">Forgot Password?</a></div>
        </div>
        <div class="reMember">
            <input type="checkbox" hidden="" name="remember" id="remember">
            <label id="forRemember" for="remember"><span id="rehead">Remember Me?</span><span id="frase">Do not select this option if on a public computer</span></label>
        </div>
        <div class="login">
            <button class="clLogin" id="clLogin">Log In</button>
        </div>
        <div class="createAc">
            <button id="createAc">Create New Account</button>
        </div>
        <div class="lincks">If you have already created an account
            Or <a href="#">contact us</a> if you have any questions!</div>
           </div>
           </div>
   </script>