<script id="login-template" type="text/template">
    <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable" style="position: absolute; height: auto; width: 450px; top: 50%; left: 50%; margin-left:-225px; margin-top:-338px; display: block;" tabindex="-1" role="dialog" aria-describedby="dialog" aria-labelledby="ui-id-1"><div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle"><span id="ui-id-1" class="ui-dialog-title">&nbsp;</span><button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="Close"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span class="ui-button-text">Close</span></button></div><div id="dialog" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 692px; max-height: none; height: auto;">
        <div class="logo"></div>
        <div class="faceBook">
            <button id="fb-root" class="fbBtn">
                <div class="fL"></div>

                Login with Facebook
            </button>
        </div>
        <fb:login-button style="display:none;" data-width="900" scope="email,user_birthday" autologoutlink="true"></fb:login-button>
        <div class="orLogin">
            - Or -
        </div>
        <div class="email">
            <input type="text" id="email" class="input-text log" placeholder="user@usersclient.com" name="email">
        </div>
        <div class="pass">
            <input type="password" id="pass" class="input-text log" placeholder="Enter your password" name="password">
            <div><a href="#">Forgot Password?</a></div>
        </div>
        <div class="reMember">
            <input type="checkbox" hidden="" name="remember" id="remember">
            <label id="forRemember" for="remember"><span id="rehead">Remember Me?</span><span id="frase">Do not select this option if on public computer</span></label>
        </div>
        <div class="login">
            <button class="clLogin" id="clLogin">Log In</button>
        </div>
        <div class="createAc">
            <button id="createAc">Create New Account</button>
        </div>
        <div class="lincks">If you have already created an  account, <a href="#">click here to sign in.</a>
            Or, <a href="#">contact us</a> if you have any questions!</div>
    </div><div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div></div>
</script>