<script id="video-template" type="text/template">

<div class="PopupVideo">
        <div id="regHeader">
                <div class="logoLeft"></div>
                <div class="hoverText">
                    Come Back and Apply Anytime
                </div>
            <div class="close-icon"></div>
            </div>
            <div class="video-popup">
            <video width="750" height="500" controls="controls" autoplay="autoplay" >
                <source src="/video/commerical13.ogg" type='video/ogg; codecs="theora, vorbis"'>
                <source src="/video/commerical13.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                <source src="/video/commerical13.webm" type='video/webm; codecs="vp8, vorbis"'>
            </video>
            </div>
        <div class="btn-group-video">
           <p><button class="btn-gray">Complete the video
               <span class="small">to continue your submission</span> </button></p>
            <p><button class="btn-dark">Submit to
                <span class="small">and start making money</span> </button></p>
        </div>
        </div>

</script>