<script id="video-template" type="text/template">


        <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable" style="position: absolute;top:50%; height: auto; width: 800px;   left: 50%; margin-left:-400px; display: block;" tabindex="-1" role="dialog" aria-describedby="dialog" aria-labelledby="ui-id-1">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle"><span id="ui-id-1" class="ui-dialog-title">&nbsp;</span><button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="Close"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span class="ui-button-text">Close</span></button></div><div rel="reg-dialog" class="register ui-dialog-content ui-widget-content" id="dialog" style="width: auto; min-height: 800px; max-height: none; height: auto;">
            <div id="regHeader">
                <div class="logoLeft"></div>
                <div class="hoverText">
                    Come Back and Apply Anytime
                </div>
            </div>
            <div class="video-popup">
            <video width="750" height="500" controls="controls" >
                <source src="/video/commerical13.ogg" type='video/ogg; codecs="theora, vorbis"'>
                <source src="/video/commerical13.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                <source src="/video/commerical13.webm" type='video/webm; codecs="vp8, vorbis"'>
            </video>
            </div>
            </div>
        </div>

</script>